







* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
 
  


.profile-header {
	background: #fff;
	width: 100%;
	display: flex;
	height: 190px;
	position: relative;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  }
  
  .profile-img {
	float: left;
	width: 340px;
	height: 200px;
  }
  
  .profile-img img {
	border-radius: 50%;
	height: 230px;
	width: 230px;
	border: 5px solid #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 50px;
	top: 20px;
	z-index: 5;
	background: #fff;
  }
  
  .profile-nav-info {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 60px;
  }
  
  .profile-nav-info h3 {
	font-variant: small-caps;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: bold;
  }
  
  .profile-nav-info .address {
	display: flex;
	font-weight: bold;
	color: #777;
  }
  
  .profile-nav-info .address p {
	margin-right: 5px;
  }
  
  .profile-option {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	outline: none;
	background:black;
  }
  
  .profile-option:hover {
	background: #fff;
	border: 1px solid black;
  }
  .profile-option:hover .notification i {
	color:black;
  }
  
  .profile-option:hover span {
	background:black;
  }
  
  .profile-option .notification i {
	color: #fff;
	font-size: 1.2rem;
	transition: all 0.5s ease-in-out;
  }
  
  .profile-option .notification .alert-message {
	position: absolute;
	top: -5px;
	right: -5px;
	background: #fff;
	color:black;
	border: 1px solid black;
	padding: 5px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: bold;
  }
  
  .main-bd {
	width: 100%;
	display: flex;
	padding-right: 0px;
	height: 600px;
  }
  
  .profile-side {
	width: 300px;
	background: #fff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	padding: 50px 30px 20px;
	font-family: "Bree Serif", serif;
	margin-left: 0px;
	margin-bottom:70px;
	z-index: 99;
  }
  
  .profile-side p {
	margin-bottom: 50px;
	color: #333;
	font-size: 14px;
	margin-left: 50px;

  }
  
  .profile-side p i {
	color:black;
	margin-right: 0;
  }
  
  .mobile-no i {
	transform: rotateY(180deg);
	color:black;
  }
  
  .profile-btn {
	display: flex;
  }

  


  
  .user-rating {
	display: flex;
	margin-left: 0px;
  }
  
  .user-rating h3 {
	font-size: 2.5rem;
	font-weight: 200;
	margin-right: 5px;
	letter-spacing: 1px;
	color: #666;
	margin-left: 0px;
  }
  
  .user-rating, .no-of-user-rate {
	font-size: 0.9rem;
	margin-left: 0px;

  }
  
  .rate {
	padding-top: 6px;

  }
  
  .rate i {
	font-size: 0.9rem;
	color: black;
	margin-left: 0px;

  }
  
  .nav {
	width: 100%;
	z-index: -1;
  }
  
  .nav ,.nn {
	margin: 0px;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	height: 70px;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .nav ,.nn, li {
	padding: 5px;
	width: 100%;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s ease-in-out;
  }
  
  .nav,.nn li:hover,
  .nav,.nn li.active {
	box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}
  
  .profile-body {
	width: 100%;
	z-index: -1;
  }
  
  .tab {
	display: none;
  }
  
  .tab {
	padding: 20px;
	width: 100%;
	text-align: center;
  }
  
  .with-nav-tabs.panel-info .nav-tabs > li > a,
  .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	  color: #31708f;
	    text-decoration: none;
  }
  .with-nav-tabs.panel-info .nav-tabs > .open > a,
  .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	  color: #31708f;
	  background-color: #bce8f1;
	  border-color: transparent;
	  text-decoration: none;
  }
  .with-nav-tabs.panel-info .nav-tabs > li.active > a,
  .with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	  color: #31708f;
	  background-color: #fff;
	  border-color: #bce8f1;
	  border-bottom-color: transparent;
	  text-decoration: none;
  }



